<script th:inline="javascript">
/*<![CDATA[*/ 
var isFileAdd = 0;
var fileTree = "";
var selectValue = null;
var caseId = [[${caseId}]];
var menudData=[ {id:"addNode", value:"增加",}, 
				{id:"removeNode", value:"删除"},
				{id:"closeAllNode", value:"收缩"}, 
				{id:"scanTree", value:"预览"}];
var MessageScanform = [
		 {view:"textarea" , id:"messageScanText",name:"messageText",height:300, label:"报文预览", labelPosition:"top" }
	];
var form = {
id:"myForm2modify",
view:"form",
scroll:true,
scrollY:true,
datatype: "json",
url: "/case/findCaseByCaseId?caseId="+caseId,
on:{
	 	onAfterLoad:AfterFormLoad 
},
rows:[
		{
			cols:[{
					rows:[
		{
			cols:[
					{
						rows:[
							{ view:"text", label:'编号', name:"id",width:250,hidden:true},
							{ view:"text", label:'名称', name:"name" ,width:250,required:true},
							{ view:"textarea", label:'描述', name:"descp" ,width:250,height:250,required:true},
							{ view:"select", label:'通讯协议', name:"protocol",required:true,width:250, options:"/dictionary/findItemsByParentName?parentName="+"通讯协议"},
							{ view:"select",id:"dataFormatSelect",required:true,name:"dataFormat", label:"报文格式", options:"/dictionary/findItemsByParentName?parentName="+"报文格式"},
							{ view:"select",id:"communicationSelect",name :"communicationId",label:"渠道信息",required:true, options:"/communication/findAllComms"},
							{ view:"select", label:'是否测试', name:"isTest" ,width:250,options:[
							    { value:"是", id:"是" },
							    { value:"否", id:"否" }
							]},
							{ view:"textarea", label:'备注信息', name:"remark" ,width:250},
							{cols:[
								{view: "label",label:"报文文件"},
								{view: "uploader",id:"file",label:"请选择",width:170,labelPosition:"left", autosend:false,upload:"/case/upload", value: 'Upload file',name:"files",on:{onAfterFileAdd:fileAdd}}
							]},
							{cols:[
								{view: "label",label:"日志文件"},
								{view: "uploader",id:"messageLogFile",label:"请选择",width:170,labelPosition:"left",autosend:false,upload:"/case/uploadMeaasgeLogFile",name:"messageLogFiles",on:{onAfterFileAdd:messageLogFilesSend}},
								{ view:"text", label:'报文日志文件路径', name:"messageLogUrl" ,width:250,hidden:true,id:"meaasgeLogUrl"}
							]}
				 		]
					},
					{ view:"label", label:'',width:30},
					{
						rows:[
								{
									view:"toolbar",
									height:40,
									gravity:1,
									elements:[
										{view : "label",label : "报文"},
										{view:"menu",data:menudData,width:220,click:treeOperHandle},
									]
								},
								{ 	view:"treetable",
									id:"tree",
									scroll:true,
									scrollY:true,
								    datatype:"json",
								    url:"/case/findTreeDataByCaseId?caseId="+caseId,
								    on : {
											onHeaderClick:clearSelection,
											//取消编辑本包交易长度
											onBeforeEditStart:cancelDealLengthEdit 
										 },
								    columns:[
								      { id:"id", header:"id",hidden:true},
								      { id:"name", width:150, header:{ text:"标签名称", height:25},
								       template:"{common.treetable()} #name#" ,editor:"text"},
								      { id:"value",header:{ text:"标签值", height:25}, width:150,height:25,editor:"text"},
								      { id:"sign",header:{ text:"标签标志", height:25}, width:150,height:25,editor:"text"},
								      { id:"parentId", header:"parentId",hidden:true}
								    ], 
								     editable:true,
								     editor:"text",
								     editaction:"dblclick",
								     editValue:"name",
								     select:true, 
								     autoheight:true,
								     width:400,
								 },
							 ]
						},
				]
					
			},
			{ view:"button", type:"form", value:"提交数据",width:250, click:function(){
						$$("tree").openAll();
						var dataArr =  new Array();
						var count = 0;
						$$("tree").eachRow( 
						    function (row){ 
						        var data = $$("tree").getItem(row);
						        dataArr[count] = data;
						        count = count +1;
						    }
						)
						 var treeData = JSON.stringify(dataArr);
						 var formData = JSON.stringify( $$("myForm2modify").getValues());
						 $$("file").files.data.each(function(obj){
					      //add file specific additional parameters
					      obj.formData = { fileFormat:$$("dataFormatSelect").getValue()};
					     });
					     if(isFileAdd == 1){
					     	$$("file").send(function(response){
					    	 	 fileTree = JSON.stringify(response);
					    	 	webix.ajax().post('/case/modifyCaseByCaseId', 
				 		 					{formData:formData}, function (text, xml, xhr) {
											    $$("myForm2modify").load("/case/findCaseByCaseId?caseId="+caseId, "json"); 
											});
				 		 		webix.ajax().post('/case/modifyTreeOfCaseByCaseId', 
				 		 					{ treeData : treeData,mesFormat:$$("dataFormatSelect").getValue(),caseId:caseId}, function (text, xml, xhr) {
											    $$("tree").clearAll();
											    $$("tree").load("/case/findTreeDataByCaseId?caseId="+caseId);
											});
					     	});
					     	isFileAdd = 0;
					     }else{
								webix.ajax().post('/case/modifyCaseByCaseId', 
				 		 					{formData:formData}, function (text, xml, xhr) {
											    $$("myForm2modify").load("/case/findCaseByCaseId?caseId="+caseId, "json"); 
											});
				 		 		webix.ajax().post('/case/modifyTreeOfCaseByCaseId', 
				 		 					{ treeData : treeData,mesFormat:$$("dataFormatSelect").getValue(),caseId:caseId}, function (text, xml, xhr) {
											    $$("tree").clearAll();
											    $$("tree").load("/case/findTreeDataByCaseId?caseId="+caseId);
											});					     
					     }
						}
			}
 ]
				  },{ view:"label", label:'',width:30},
				  {
				  		 view:"form", elements:MessageScanform, id:"messageForm"
				  }]//1
		}
 	]
  };
webix.ui({
            view:"window",
            id:"win2Form",
			height:600,
			width:2700,
			fullscreen:true,
			move:true,
			scroll:true,
            position:"center",
            modal:true,
            head:{
				view:"toolbar", margin:-4, cols:[
				{view:"label", label: "案例详情" },
				{ view:"icon", icon:"times-circle",
					click:windowClose}
				]
			},
            body:webix.copy(form)
       	}).show();
       	
function treeOperHandle(id){
	if(id == "addNode"){
		 $$("tree").openAll();
		 var parentItem= $$("tree").getSelectedItem();
		 if(parentItem){
		 	var index = parentItem.$count;
		 }else{
			var index= -1;	 
		 }
		 var id = String(webix.uid());
		
		 if(parentItem){
			var pid = parentItem.id;
	        $$("tree").add( {id:id,parentId:pid,name:"",value:""},index , pid);
	        $$("tree").closeAll();
	        $$("tree").open(pid);
	        }else{
	       	$$("tree").add( {id:id,parentId:null,name:"",value:""},index , null);
	       	 $$("tree").closeAll();
	        }
	}else if(id == "removeNode"){
		 $$("tree").remove( $$("tree").getSelectedId());	
	}else if(id == "closeAllNode"){
		 $$("tree").closeAll();
	}else{
		$$("tree").openAll();
		var dataArr =  new Array();
		var count = 0;
		$$("tree").eachRow( 
		    function (row){ 
		        var data = $$("tree").getItem(row);
		        dataArr[count] = data;
		        count = count +1;
		    }
		)
		 var str = JSON.stringify(dataArr);
			webix.ajax().post('/case/messageScan', 
 		 					{ treeData : str,mesFormat:$$("dataFormatSelect").getValue()}, function (text, xml, xhr) {
							 	if(text){
								 	$$("messageScanText").setValue(text);
								 	$$("messageForm").refresh();
							 	}else{
							 		webix.alert({
											type:"alert-error",
											text:"数据有误，请检查！"
										});
							 	}
							});
	}
}

function clearSelection(){
	$$("tree").clearSelection();
}


function AfterFormLoad(){
	if(LoadCount != 1){
		webix.alert({
					type:"alert-error",
					text:"修改成功"
				});
	}
	LoadCount = 0;
}

function windowClose(){
	var busId = $$("myTabView").getValue()
	var dataTableId = "datatable"+busId;
	$$(dataTableId).load("/case/findCasesByCaseCollId?caseCollId="+CaseId, "json");
	$$("win2Form").close();
}

function fileAdd(){
	isFileAdd = 1;
	$$("file").files.data.each(function(obj){
      //add file specific additional parameters
      obj.formData = { fileFormat:$$("dataFormatSelect").getValue()};
     });
     $$("file").send(function(response){
    	 	 fileTree = JSON.stringify(response);
    	 	 $$("tree").clearAll();
    	 	 $$("tree").parse(fileTree,"json");
    	 	 $$("tree").refresh();
     });
}

function messageLogFilesSend(){
     $$("messageLogFile").send(function(response){
     	 res = JSON.stringify(response);
     		 if(res == "\"false\""){
  		 		webix.alert({
					type:"alert-error",
					text:"上传失败！"
				});
     		 }else{
     		 	 res = res.replace(/\"/g,""); 
     		 	 $$("meaasgeLogUrl").setValue(res);
     		 }
     });
}

function cancelDealLengthEdit(id){
 var editItem= $$("tree").getSelectedItem();
 if(id == editItem.id && editItem.name == "本交易包长度"){
 	$$("tree").editCancel();
 	webix.alert({
					type:"alert-error",
					text:"本交易包长度提交后由后台计算，不需手动更改"
				});
 }
}
/*]]>*/
</script>