<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/static/favicon.ico" />

    <title>ATT-自动化测试工具</title>

    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="/static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />

    <link href="/static/justified-nav.css" rel="stylesheet" />
    <script src="/static/assets/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
    <!--   <div class="masthead">
        <h3 class="text-muted">ATT-自动化测试工具</h3>
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="/">主页</a></li>
            <li><a href="#">业务组</a></li>
            <li><a href="#">文档</a></li>
            <li><a href="#">帮助</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#">联系</a></li>
          </ul>
        </nav>
      </div> -->

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>自动化测试!</h1>
        <p class="lead">为联机交易提供测试渠道，可定制化相关业务的测试案例，操作简单，方便......</p>
        <p><a class="btn btn-lg btn-success" href="/main" role="button">进行测试</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>自动化测试工具</h2>
          <p class="text-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ATT是黑盒测试工具,可以用来完成功能测试、回归测试,可以提高测试效率,降低测试人工成本.自动化测试是当今测试发展的方向,能够帮助软件开发团队实现:节省测试时间 自动测试通过执行测试脚本来实现测试自动化,单个脚本的执行速度比人工执行快10倍以上,能够为我们节省大量的测试时间,我们不必为了测试时间的deadline而加班加点。</p>
          <p><a class="btn btn-primary" href="/main" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>业务集、案例集</h2>
          <p>为了能够更好的对业务、案例种类进行管理，使用者可以对业务、案例进行分组操作，并可对业务、案例进行新增，编辑或删除操作。</p>
          <p><a class="btn btn-primary" href="/main" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>参数维护</h2>
          <p>使用者可以进行一些日常必须参数的维护</p>
          <p><a class="btn btn-primary" href="/maintenance" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2017 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
